* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95vw;
    height: 95vh;
    gap: 20px;
    background-color: black;
    border: 4px solid red;
    border-radius: 15px;
}

div#meContainer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

img#me {
    width: 100%;
}

ul#links{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a#link:link {
    width: 200px;
    background-color: white;
}

button#link {
    width: 250px;
    height: 50px;
    background-color: black;
    color: white;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: large;
    border-radius: 5px;
}

button#link:hover {
    background-color: red;
}

embed.pdf {
    width: 50vw;
    height: 100vh;
}

img.icon {
    height: 80%;
    filter: invert();
}