@font-face {
    font-family: GeistMono;
    src: url(../assets/fonts/GeistMono-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: GeistMono, monospace;
    color: white;
}

body {
    background-color: black;
    background-image: linear-gradient(to bottom right,darkred, black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    gap: 20px;
    background-color: black;
    border-radius: 15px;
    overflow: hidden;
    border: 4px solid #777777;
}


div#meContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

div#meFrame {
    aspect-ratio : 1 / 1;
    width: 90%;
    border-radius: 50%;
    overflow: hidden;
}

div#infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 50px;
}

h1 {
    color: white;
    font-size: 3vw;
}

img#me {
    width: 100%;
}

ul#links{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a#link:link {
    width: 200px;
    background-color: white;
}

button#link {
    width: 250px;
    height: 50px;
    background-color: black;
    color: white;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: large;
    border-radius: 5px;
}

button#link:hover {
    background-color: red;
}

embed.pdf {
    width: 50vw;
    height: 100vh;
}

img.icon {
    height: 80%;
    filter: invert();
}

@media (width < 700px){
    body{
        height: min(900px);
    }
    div#wrapper {
        flex-direction: column;
        width: 90vw;
        height: auto;
    }

    div#meContainer {
        width: 100%;
        height: 300px;
    }

    div#meFrame {
        width: 60%;
    }

    div#infoContainer {
        width: 100%;
        gap: 20px;
        height: 50vh;
        justify-content: flex-start;
    }

    h1 {
        font-size: 7vw;
    }

}
